<!DOCTYPE html>
<html lang="en">

<head>
  <title>Answer Form</title>
</head>

<body>
  <h1>Answer Form</h1>
  <form action="/answer.html" method="POST">
    <label for="name">Name:</label><br>
    <input type="text" name="name" required><br><br>
    <label for="email">Email:</label><br>
    <input type="email" name="email" required><br><br>
    <label for="message0">Message0:</label><br>
    <textarea name="message0" required></textarea><br><br>
    <label for="message1">Message1:</label><br>
    <textarea name="message1" required></textarea><br><br>
    <label for="message2">Message2:</label><br>
    <textarea name="message2" required></textarea><br><br>
    <button type="submit">Submit</button>
  </form>
  <br>
  <a href="/answers.html">View All Answers</a>
</body>

</html>
